@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
     
body {
    margin: 0;
    padding: 0;
}
.text-orange{
    color: #E95A08;
}
.text-dark{
    color: rgba(0, 0, 0, 0.5);
}
.display-flex{
    display: flex;
}
.gray-500{
    color: rgba(107, 114, 128, 1);
}
.nav-color{
    color: #8987A1;
}
.font-black {
    color: #000000;
}
/* nav styles */

.navbar,
.banner,
section {
    max-width: 1170px;
    margin: 0 auto;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav {
    margin-right: 25px;
}

.logo {
    max-width: 100%;
    margin: 30px;
}

#home {
    font-weight: bold;
    color: #252432;
}

.shop-cart {
    align-items: center;
}

.nav-links,
.nav-cart {
    list-style: none;
    gap: 48px;
}

.nav-link {
    text-decoration: none;
}

/* banner related styles */

.banner {
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 150px;
    width: 100%;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
}

.banner-description{
    font-weight: 400;
    font-size: 1.375rem;
    width: 570px;
}

.banner-img img {
    max-width: 100%;
}

/* card related styles */

.plant-section {
    text-align: center;
    margin-top: 150px;
}

.plant-title {
    font-weight: 700;
    font-size: 3.25rem;
    margin: 0px;
}

.plant-discription {
    font-size: 1.375rem;
    margin: 10px 50px;
}
.shop-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    gap: 20px;
}


.flower-name {
    font-weight: 400;
    font-size: 1.50rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

.flower-price {
    font-weight: 600;
    font-size: 1.50rem;
    margin-bottom: 10px;
    margin-top: 0px;
}

.btn-primary {
    color: #ffffff;
    background-color: #E95A08;
    border: none;
    width: 272px;
    height: 50px;
}

.card img {
    width: 100%;
}





     
/* for smaller device */
@media screen and (max-width: 576px){

    /* nav responsive */
    .nav-links {
        display: none;
    }
/* banner responsive */
    .banner {
        flex-direction: column-reverse;
    }
    /* card secton responsive */
    .plant-lover-container,
    .deals-card ,
    .footer-section{
        flex-direction: column;
    }
    
    .shop-card {
        grid-template-columns: repeat(2, 1fr);

    }

}